<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Lists</h1>
      <ul class="mt-5">
        <% @lists.each do |list| %>
            <%= cl_image_tag("dwrp7ajv0ow9bggbn9e5",
            width: 400, height: 300, crop: :fill) %>
            <li> <%= list.name %> </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
