<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-4">Lists</h1>
      <ul class="mt-5">
        <% @lists.each do |list| %>
            <%= list.photo.attached? ? cl_image_tag(list.photo.key) : cl_image_tag('004cyvyk0c4bfy9g3gahuqg3nb26') %>
            <li> <%= list.name %> </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
